<li class="notification fancy-ripple removed status-{{status}}" id="notification-{{id}}" data-id="{{id}}">
    <img class="user-photo" src="{{requester.photo}}" alt=""/>
    <div class="user-name">User: {{requester.first_name}} {{requester.last_name}}</div>
    <div class="user-phone">Phone: {{requester.phone}}</div>
    <div class="status">Status: {{status}}</div>
    <div class="contact">Buddy: {{contact_name}} {{contact_phone}}</div>
    <div class="submitted">Created: {{created}}</div>
</li>