<li class="notification" id="notification-{{id}}" data-id="{{id}}">
    <div class="user-name">User: {{requester.first_name}} {{requester.last_name}}</div>
    <div class="user-phone">Phone: {{requester.phone}}</div>
    <div class="contact">Buddy: {{contact_name}} {{contact_phone}}</div>
</li>